
<div class="alert alert-danger" *ngIf="ErrorMsg">{{ErrorMsg}}</div>
    <form class="bootstrap-form-with-validation">
      <div *ngIf="categories" class="form-group">
        <label class="control-label" for="select">Select Category</label>
        <select id="select" class="form-control" (change)="getCategoryId($event.target)" [disabled]="categorySelectDisabled">
          <optgroup>
            <option value="-1">No Specific Category</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
            <option value="666">MCD Test</option>
          </optgroup>
        </select>
        <label class="control-label" for="select">Total number of Questions: {{selectedCtgTotQNum}}</label>
      </div>
      <div class="form-group">
        <label class="control-label" for="number-input">Number of Questions (Limit: {{selectedCtgMaxQNum}})</label>
        <input id="number-input" name="number-input" class="form-control" type="number" max="{{selectedCtgMaxQNum}}" [(ngModel)]="numOfQts">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="startQuiz()">Start Quiz</button>
      </div>
    </form>
